#container {
  margin: 20px;
  font-size: 18px;
}

/* Insert text before */
#container::before {
  content: "Before Element";
  display: block;
  color: #f00;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Insert text after */
#container::after {
  content: "After Element";
  display: block;
  color: #f00;
  font-size: 20px;
  margin-top: 10px;
}
